.buttonBase {
  width: 100%;
  height: 100%;
}
.buttonHolder {
  text-align: center;
}
.buttonText {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.centermodal {
  width: 100%;
  height: 100%;
  background: #212121;
  color: #ffffff;
}
